/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =  
=     00   00 00 00   00 00 00   00 00 00   00 00 00   00 00    =
=     00   00    00        00    00    00   00    00   00       =
=     00   00    00      00      00    00   00    00   00       =
=     00   00    00    00        00    00   00    00   00       =
=  00 00   00 00 00   00 00 00   00 00 00   00 00 00   00       =
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
*/

/* Light */
@font-face {
    font-family: "JF Flat Light";
    src: url('font/JF-Flat-light.eot');
    src: url('font/JF-Flat-light.eot?#iefix') format('embedded-opentype'),
    url('font/JF-Flat-light.svg#JF Flat Light') format('svg'),
    url('font/JF-Flat-light.woff') format('woff'),
    url('font/JF-Flat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: "JF Flat Regular";
    src: url('font/JF-Flat-regular.eot');
    src: url('font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('font/JF-Flat-regular.woff') format('woff'),
    url('font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: "JF Flat Medium";
    src: url('font/JF-Flat-medium.eot');
    src: url('font/JF-Flat-medium.eot?#iefix') format('embedded-opentype'),
    url('font/JF-Flat-medium.svg#JF Flat Medium') format('svg'),
    url('font/JF-Flat-medium.woff') format('woff'),
    url('font/JF-Flat-medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}